**
!Dockerfile
!.dockerignore
!requirements.txt

!app/
!my_val_dataset_labeled/
!wheights/


data_and_model_preparation/
draw_my_val_dataset_labeled/
readme_pictures/
test_model/
.git/
.gitignore
.gitattributes
README.md

